body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

input{
    border: 2px steelblue solid;
    border-radius: 30px;
    width: max-content;
    padding: 10px;

}

textarea{
    border: 2px steelblue solid;
    border-radius: 15px;
    width: max-content;
    padding: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: gray;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: gray;
  }

/* Nav section starts */

.sticky {
    background-color: lightskyblue;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;

}

.list-inline {
    list-style: none;
    margin-left: -0.5em;
    margin-right: -0.5em;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.list-inline>li {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;

}

.list-inline>li:before {
    content: "\200B";
    /* 1 */
    position: absolute;
    /* 2 */
}

/* Nav section ends */

/* Home section starts */

header {
    width: 100%;
    height: 900px;
    background-color: steelblue;
    align-items: center;
    display: flex;
}

h3 {
    font-size: 40px;
    padding-left: 50px;
}

h1 {
    font-size: 60px;
    padding-left: 50px;
}

.button {
    background-color: steelblue;
    border: lightskyblue 3px solid;
    color: lightskyblue;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 50px;
    border-radius: 30px;
}

.button:hover{
    background-color: lightskyblue;
    color: steelblue;
}

.home-image {
    width: 400px;
    height: 400px;
    border: lightskyblue 3px solid;
    border-radius: 300px;
}

#container {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    margin: auto;
    width: fit-content;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Home section ends */

/* About me section starts */

.about-content img{
    width: 400px;
    height: 400px;
    border: steelblue 3px solid;
    border-radius: 15px;
}
 .about-image{
    margin-right: 50px;
 }

.about-me {
    margin: auto;
    width: 50%;
    background-color: white;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-me h2 {
    font-size: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    color: steelblue;
}

p {
    font-size: 17px;
}

.about-me-title {
    font-size: 30px;
    padding: 0px 0px 25px 0px;
    display: block;
    width: max-content;
}

.about-info li {
    padding: 4px;
}

.about-content {
    display: flex;
    justify-content: center;
}

/* About me section ends */

/* Education & experince section starts */

.edu-exp {
    margin: auto;
    width: 50%;
    background-color: white;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edu-exp .container{
    display: flex;
    flex-direction: column;
}

.edu-exp h2 {
    font-size: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    color: steelblue;
}

.edu-exp #container{
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
    padding: 50px;
}

.education h3 {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-left: 0px;
}

.experience h3 {
    display: flex;
    align-items: normal;
    flex-direction: column;
    padding-bottom: 50px;
    padding-left: 0px;
}
.experience{
    padding-left: 100px;
}

.education li{
    padding-bottom: 30px;
}

/* Education & experience section ends */

/* Portfolio section starts */

.portfolio {
    margin: auto;
    width: 50%;
    background-color: white;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio h2 {
    font-size: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    color: steelblue;
}

.projects {
    display: flex;
    flex-direction: column;

}

.projects img {
    padding: 10px;
}


.projects img:hover{
    transform:scale(1.1);
}

/* Portfolio section ends */

/* Contact me section starts */

.contact-me {
    margin: auto;
    width: 50%;
    background-color: white;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-me h2 {
    font-size: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    color: steelblue;
}

.contact-me #container{
    flex-direction: column;
    float: none;
}

.textfields{
    display: flex;
    padding: 20px;
    width: fit-content;
}

#subject{
    width: max-content;
}

#submit{
    background-color: white;
    border: steelblue 3px solid;
    color: steelblue;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 50px;
    border-radius: 20px;
}

#submit:hover{
    background-color: steelblue;
    color: white;
}

/* Contact me section ends */

/* Footer section starts */
footer{
    width: 100%;
    height: 90px;
    background-color: steelblue;
    align-items: center;
    justify-content: center;
    display: flex;
}
/* Footer section ends */