*{
  margin: 20px;
}

.header{
  display: inline-block;
  background-color: aqua;
  align-items: center;
  width: 100%;
}

h1{
  display: inline-block;
}

.coverimage{
width: 100%;
height: 30px;
}

.contactme{
  display: flex;
  flex-wrap: wrap;
}

.aboutme{
  display: flex;
  flex-wrap: wrap;
}

.work{
  display: flex;
  flex-wrap: wrap;
}


/* Navigation bar styling*/
#navbar{
  list-style: none;
  display: inline-block;
}




/*Contact information styling*/
#contactinfo{
  list-style: none;
  display: flex;
  flex-wrap: row;
}