*{
  margin: 20px;
}

.header{
  display: flex;
  justify-content: flex-end;
  background-color: aqua;
  align-items: center;
}

h1{
  display: flex;
  align-items: flex-start;
}

.coverimage{
width: 98%;
height: 30px;
}

.contactme{
  display: flex;
  flex-wrap: wrap;
}

.aboutme{
  display: flex;
  flex-wrap: wrap;
}

.work{
  display: flex;
  flex-wrap: wrap;
}


/* Navigation bar styling*/
#navbar{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}




/*Contact information styling*/
#contactinfo{
  list-style: none;
  display: flex;
  flex-wrap: row;
}