.header{
  width: 100%;
  height: 500px;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  display: inline;
}

h1{
  float: right;
  text-align: center;
  padding: 100px;
  padding-right: 300px;
}

.portrait-image{
  width: 300px;
  height: 300px;
  padding: 20px;
  border-radius: 200px;
}

.main-content{
  display: inline-block;
  gap: 50px;
  width: 100%;
}

#box-1{
  background-color: aqua;
  
  height: 500px;
  width: 50%;
  border: 10px blue solid;
  float: right;

}

#box-1-image{
  max-width: fit-content;
  max-height: fit-content;
}

#box-2{
  background-color: aqua;
  height: 500px;
  width: 50%;
  border: 10px blue solid;
}

#box-2-image{
  max-width: fit-content;
  max-height: fit-content;
}

#box-3{
  
  background-color: aqua;
  height: 400px;
  width: 98.8%;
  border: 10px blue solid;
}

#box-3-image{
  max-width: fit-content;
  max-height: fit-content;
}

.footer{
  background-color: red;    
  text-align: center;     
  height: 20px;
  width: 100%;
  padding: 20px;
  display: inline-block;
}